In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('entities.csv', sep=',')

In [3]:
df

                                                   texte   chef
0           Breton Cyrille menuisier 25 Garçon française  False
1          Ferazzi Auguste vitrier 30 Garçon Piémontaise   True
2            Machol Pierre vitrier 24 Garçon Piémontaise   True
3      Desbois Alexandre prop re 48 Homme marié franç...   True
4                Vignat Zélie prop re sa fe 30 française  False
...                                                  ...    ...
25075    Chameton-Dideron Marie chef 1869 idem Pailharès   True
25076  Ode Marie ouv chaus res chef Cara 1863 idem St...   True
25077  Berni Nello manoeuvre chef Baretto 1886 italie...   True
25078     Berni-Laureti Annunziata épouse 1887 idem idem  False
25079                    Berni Primo fils 1914 idem idem  False

[25080 rows x 2 columns]